.App {
  padding: 15px;
  min-width: 100vh;
  min-height: 100vh;
  background: url("assets/img/bg_img.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}